<html>
  <head>
  </head>
  <style>
  .my_div { 5px; border-color: red; border-style: dashed }
  </style>
  <body>
    <h1>My name is <%=@random_name %></h1>
    <div class="my_div">
      <img src="https://i.imgur.com/jFaSxym.png">
    </div>        
  </body>
</html>
